BODY {
    background-color: tan;
}

H1 {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1em;
    margin-left: 650px;
    margin-right: auto;
}

#grid {
    height: 425px;
    width: 425px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    background-color: #333333;
}

#grid TR TD {
    background: lightgray;
    height: 40px;
    width: 40px;


}

#grid TR TD.clicked {
    background: #333333;
    color: whitesmoke;
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 16pt;
    border: 5px solid;
    box-sizing: border-box;
}

#grid TR TD.mine {
    background: orange;
}

 

BUTTON {
    margin-left: 895px;
    margin-right: auto;
  }